body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border-radius: 15px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100px;
}
.card > div{
    padding: 10px;
}
.card img{
    max-height: 80px;
    max-width: 80px;
}
.card span{
    font-size: 18pt;
    margin: 0 20px;
}

@media(min-width: 576px) {
    .card{
        width: 300px;
    }
}
