body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}
#resultado{
    display: none;
}
#tabuleiro{
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-between;
    width: 260px;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.casa{
    cursor: pointer;
    font-size: 50px;
    font-weight: bolder;
    height: 80px;
    line-height: 80px;
    margin: 0;
    text-align: center;
    width: 80px;
}

#restart{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 20px 0;
    outline: none;
    padding: 10px 0;
    text-decoration: none;
    width: 300px;
}
#restart:active{
    transform: translateY(4px);
}

#vencedor{
    font-size: 30px;
}